[Unit]
Description=M00N Boot Executer
After=network.target

[Service]
ExecStart=/usr/bin/python /home/moon/M00N/menu.py
WorkingDirectory=/home/moon/M00N/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
